.selectElementContainer {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.selectElementButton {
    margin-left: 5px;
    margin-bottom: 3px;
    cursor: pointer;
}

.selectedElement {
    min-width: 70px;
}

.selectDistanceContainer {
    display: flex;
    margin-bottom: 20px;
}

.selectDistance {
    margin: 0 10px 0 20px;
    flex-grow: 1;
    max-width: 200px;
}

.elementAndDistanceContainer {
    display: flex;
    flex-direction: column;
}


