.selectElementContainer {
    display: flex;
    align-items: center;
}

.selectElementButton {
    margin-left: 5px;
    margin-bottom: 3px;
    cursor: pointer;
}

.selectElementContainer {
    width: 100%;
}
