.home {
    width: 100%;
}

.planets {
    width: 100%;
}

.title {
    max-height: 80px;
}

.planets img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .planets {
        overflow-x: hidden;
    }

    .planets img {
        height: 100px;
        width: auto;
    }
}
